
   <!-- === INICIO CONTENIDO DE LA VENTANA === -->
   <div id="page-content-wrapper">
     <div class="container-fluid">
      <div class="row">
<form role="form" id="form" data-toggle="validator">
        <!-- === INICIO PANEL DE EDICIÓN === -->   
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Gestión de Actividades</h3>
          </div>
          <div class="panel-body">
            En este panel podrá agregar, modificar o eliminar las Actividades.


             <!-- === INPUTS TXT === -->  
      <div align="center">

     <!-- === BOTONES MODAL  === -->
     <p>
    <button type="button" class="btn btn-lg btn-info" data-toggle="modal" data-target="#myModal">Crear Tarea</button>
      o
    <button type="button" class="btn btn-lg btn-info" data-toggle="modal" data-target="#ModalEvento">Crear Evento</button>
      o
    <button type="button" class="btn btn-lg btn-info" data-toggle="modal" data-target="#Modal">Crear Llamada</button>
      </p>
       <!--INFORMACIÓN DEL MODAL CREAR TAREA -->
     <div id="myModal" class="modal fade" role="dialog">
     <div class="modal-dialog">

       <!-- CONTENIDO MODAL CREAR TAREA-->
      <div class="panel panel-primary" class="row" >
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="panel-heading">
                  <h3 class="panel-title" align="center">Nueva Tarea</h3>
         </div>       
      
      <div class="modal-body">
      <!-- === INPUTS TXT === -->
        <div class="form-group">
        <label>Nombre del responsable</label>
        <input class="form-control" id="txtNombreResponsable"
               placeholder="Nombre del Responsable">
       </div>
       <div class="form-group">
        <label>Asunto</label>
        <input class="form-control" id="txtAsunto"
               placeholder="Asunto">
       </div>
       <div class="row">
       <div class="form-group col-md-6">
        <label>Fecha de Vencimiento</label>
        <input type="date" class="form-control" id="txtFechaVencimiento">
       </div>
       <div class="form-group col-md-6">
        <label>Estado</label>
          <select id="cmbEstadoTarea" class="form-control">
          <option>---------</option>
          <option>Sin Iniciar</option>
          <option>En Ejecución</option>
          <option>Completada</option>
          </select>
       </div>
       </div>
       <div class="form-group">
        <label>Descripción</label>
        <textarea class="form-control" id="txtDescripcionTarea"
               placeholder="Descripcion de la Tarea"></textarea>
        
       </div>

      </div>
      <div class="modal-footer">
        <button  type="button" class="btn btn-lg btn-info" data-dismiss="modal">Guardar</button>
        <button type="button" class="btn btn-lg btn-info" data-dismiss="modal">Cerrar</button>
      </div>

     <!-- === FIN DE INFORMACION MODAL TAREA === -->
      </div>
      
    

         </div>
      </div>

       <!--INFORMACIÓN DEL MODAL CREAR EVENTO -->
<div id="ModalEvento" class="modal fade" role="dialog">
     <div class="modal-dialog">

       <!-- CONTENIDO MODAL-->
      <div class="panel panel-primary" class="row" >
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="panel-heading">
                  <h3 class="panel-title" align="center">Nuevo Evento</h3>
         </div>       
      
      <div class="modal-body">
      <!-- === INPUTS TXT === -->
        <div class="form-group">
        <input class="form-control" id="txtNuevoEvento"
               placeholder="Nombre del Evento">
       </div>
       <div class="form-group">
        <label>Dirección</label>
        <input class="form-control" id="txtDireccion"
               placeholder="Dirección del Evento">
       </div>
       <label>Fecha del Evento</label>
       <div class="row">
       <div class="form-group col-md-2">
        <div><label >de</label></div>
        <br>            
        <div><label>a</label></div>
       </div>
       
       <div class="form-group col-md-6">
       <input type="date" class="form-control" id="txtFechaEventoInicio">
       <input type="date" class="form-control" id="txtFechaEventoFin">
       </div>

       <div class="form-group col-md-4">
       <input type="time" class="form-control" id="txtHoraInicio">
       <input type="time" class="form-control" id="txtHoraFin">
       </div>
       </div>
       <div class="row">
       <div class="form-group col-md-6">
        <label>Relacionado con</label>
          <select id="cmbEstadoTarea" class="form-control">
          <option>---------</option>
          <option>Clientes</option>
          <option>Posibles Clientes</option>
          <option>Otros</option>
          </select>
       </div>
       </div>
       <div class="form-group">
        <label>Descripción</label>
        <textarea class="form-control" id="txtDescripcionEvento"
               placeholder="Descripción"></textarea>
        
       </div>

      </div>
      <div class="modal-footer">
        <button  type="button" class="btn btn-lg btn-info" data-dismiss="modal">Guardar</button>
        <button type="button" class="btn btn-lg btn-info" data-dismiss="modal">Cerrar</button>
      </div>
      </div>
      
    

         </div>
         <!-- === FIN DE INFOMACION DEL MODAL CREAR EVENTO === -->
          </div>



<!--INFORMACIÓN DEL MODAL CREAR LLAMADA -->
<div id="Modal" class="modal fade" role="dialog">
     <div class="modal-dialog">

       <!-- CONTENIDO MODAL-->
      <div class="panel panel-primary" class="row" >
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="panel-heading">
                  <h3 class="panel-title" align="center">Nueva Llamada</h3>
         </div>       
      
      <div class="modal-body">
      <!-- === INPUTS TXT === -->
        <label>Asunto*</label>
        <div class="form-group">
        <input class="form-control" id="txtAsunto"
               placeholder="Asunto de la llamada">
       </div>

       <div class="row">
       <div class="form-group col-md-6">
        <label>Propósito de la llamada:</label>
          <select id="cmbProposito" class="form-control">
          <option>---------</option>
          <option>Administrativo</option>
          <option>Negociación</option>
          <option>Soporte</option>
          <option>Otros</option>
          </select>
       </div>
       </div>

       <div class="row">
       <div class="form-group col-md-6">
        <label>Relacionado con</label>
          <select id="cmbRelacion" class="form-control">
          <option>---------</option>
          <option>Clientes</option>
          <option>Posibles Clientes</option>
          <option>Otros</option>
          </select>
       </div>
      </div>

      <div class="form-group">
        <label>Llamar a:</label>
        <input class="form-control" id="txtContacto"
               placeholder="Contacto">
       </div>
       <div class="form-group">
        <label>Descripción de punto a tratar</label>
        <textarea class="form-control" id="txtDescripcionLlamada"
               placeholder="Descripción"></textarea>
        
       </div>
      </div>
      <div class="modal-footer">
        <button  type="button" class="btn btn-lg btn-info" data-dismiss="modal">Guardar</button>
        <button type="button" class="btn btn-lg btn-info" data-dismiss="modal">Cerrar</button>
      </div>
      </div>
     </div>
         <!-- === FIN DE INFOMACION DEL MODAL CREAR LLAMADA === -->
          </div>
       <!-- === FIN DEL DIV QUE AGRUPA LOS BOTONES === -->
     </div>

    <div class="panel-body">
      Puede visualizar las Actividades actualmente almacenados en el sistema

      <!-- ====== DATATABLE ======= -->
       <div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="text-center">Bootstrap Editable jQuery Grid <span class="fa fa-edit pull-right bigicon"></span></h4>
            <h4 class="text-center">para modificar dale doble click en el campo <span class="fa fa-edit pull-right bigicon"></span></h4>

        </div>
        <div class="panel-body text-center">
            <div id="grid"></div>
        </div>
    </div>
</div>

<!-- you need to include the shieldui css and js assets in order for the grids to work -->


<script type="text/javascript">
    $(document).ready(function () {
        $("#grid").shieldGrid({
            dataSource: {
                data: gridData,
                schema: {
                    fields: {
                        id: { path: "id", type: Number },
                        age: { path: "age", type: Number },
                        name: { path: "name", type: String },
                        company: { path: "company", type: String },
                        month: { path: "month", type: Date },
                        isActive: { path: "isActive", type: Boolean },
                        email: { path: "email", type: String },
                        transport: { path: "transport", type: String }
                    }
                }
            },
            sorting: {
                multiple: true
            },
            rowHover: false,
            columns: [
                { field: "name", title: "Person Name", width: "120px" },
                { field: "age", title: "Age", width: "80px" },
                { field: "company", title: "Company Name" },
                { field: "month", title: "Date of Birth", format: "{0:MM/dd/yyyy}", width: "120px" },
                { field: "isActive", title: "Active" },
                { field: "email", title: "Email Address", width: "250px" },
                { field: "transport", title: "Custom Editor", width: "120px", editor: myCustomEditor },
                {
                    width: "104px",
                    title: "",
                    buttons: [
                        { cls: "deleteButton", commandName: "delete", caption: "<img src='http://www.prepbootstrap.com/Content/images/template/BootstrapEditableGrid/delete.png' /><span></span>" }
                    ]
                }
            ],
            editing: {
                enabled: true,
                event: "click",
                type: "cell",
                confirmation: {
                    "delete": {
                        enabled: true,
                        template: function (item) {
                            return "Delete row with ID = " + item.id
                        }
                    }
                }
            },
            events:
            {
                getCustomEditorValue: function (e) {
                    e.value = $("#dropdown").swidget().value();
                    $("#dropdown").swidget().destroy();
                }
            }
        });

        function myCustomEditor(cell, item) {
            $('<div id="dropdown"/>')
                .appendTo(cell)
                .shieldDropDown({
                    dataSource: {
                        data: ["motorbike", "car", "truck"]
                    },
                    value: !item["transport"] ? null : item["transport"].toString()
                }).swidget().focus();
        }
    });
</script>

<style type="text/css">
    .sui-button-cell
    {
        text-align: center;
    }

    .sui-checkbox
    {
        font-size: 17px !important;
        padding-bottom: 4px !important;
    }

    .deleteButton img
    {
        margin-right: 3px;
        vertical-align: bottom;
    }

    .bigicon
    {
        color: #5CB85C;
        font-size: 20px;
    }
</style>

<!-- Bootstrap Editable Grid - END -->

</div>
    <!-- ====== FIN DATATABLE======= -->
  </div>
</div>
</div>
<!-- === FIN CONTENIDO DE LA VENTANA === -->

</div>
<!-- /#wrapper -->
</div>

<!-- Libreria Jquery de Bootstrap -->

  <script src="../js/bootstrap.js" type="text/javascript"></script>

  <script src="../js/bootbox.js"></script>
  <!-- jQuery -->
  <!-- LIBRERIA PADRE -->
  <script src="../js/jquery.js"></script>

<link rel="stylesheet" type="text/css" href="http://www.prepbootstrap.com/Content/shieldui-lite/dist/css/light/all.min.css" />
<script type="text/javascript" src="http://www.prepbootstrap.com/Content/shieldui-lite/dist/js/shieldui-lite-all.min.js"></script>

<script type="text/javascript" src="http://www.prepbootstrap.com/Content/data/shortGridData.js"></script>

  <!-- LIBRERIA PADRE -->
  <script src="../js/jquery.validate.js"></script>
  <script src="../js/additional-methods.js"></script>
 
 

  <!-- DATATABLE -->
  <script src="../js/jquery.dataTables.js" type="text/javascript"></script>
  <!-- Cargar menu de usuario desde JSON -->
  <script src="../js/bootstrap-treeview.js"></script>
  <!-- TOGGLE para que el menu superior sea responsivo -->
     <script>
  $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
  });
  </script>


  <!-- Script para activar las validaciones -->

  <!-- Script para recargar el datatable automaticamente -->
  <script src="../js/fnReloadAjax.js"></script>
    <!-- Script para funciones del formulario -->
  <script src="../js/FormsJS/Funcion.js"></script>
 <!-- Menu Toggle Script -->
  

  <style>
.error {
    color:red;
}
.valid {
    color:green;
}
</style>
</body>
</html>