
   <!-- === INICIO CONTENIDO DE LA VENTANA === -->
   <div id="page-content-wrapper">
     <div class="container-fluid">
      <div class="row">
<form role="form" id="form" data-toggle="validator">
        <!-- === INICIO PANEL DE EDICIÓN === -->   
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Datos de Operador</h3>
          </div>
          <div class="panel-body">
            En este panel podrá agregar datos del operador.


    <!-- === INPUTS TXT === -->
 <!--INFORMACIÓN DEL MODAL MOSTRAR OPERADOR -->
     <div id="myModalOperatorNew" class="modal fade" role="dialog">
         <div class="modal-dialog">

           <!-- CONTENIDO MODAL OPERADOR-->
         <div class="row ">

                <div class="col-md-12" >
                    <!-- Advanced Tables -->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                               <h2 class="text-center"> Datos del Operador </h2>
                        </div>

                         <div class="panel-body">                           
                                   <div class="row">
                                            <div class="form-group  col-md-6">
                                              <label >Tipo Rol</label>
                                              <select class="form-control" id="cmbTipoRol">
                                              <option>---------</option>
                                              </select>
                                            </div> 
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-md-6">
                                              <label>Nombre</label>
                                              <input class="form-control" id="txtNombre"
                                                     placeholder="Nombre">
                                            </div>
                                            <div class="form-group col-md-6">
                                              <label>Apellido</label>
                                                <input class="form-control" id="txtApellido"
                                                 placeholder="Apellido">
                                             </div>
                                       </div>
                                         <div class="row">
                                          <div class="form-group col-md-4">
                                            <label > Sexo</label>
                                            <select id="cmbSexo" class="form-control">
                                            <option>---------</option>
                                            <option>Femenino</option>
                                            <option>Masculino</option>
                                            </select>
                                          </div>
                                           <div class="form-group col-md-4">
                                            <label>Fecha de Nacimiento</label>
                                            <input type="date" class="form-control" id="txtFechaNacimiento">
                                          </div>
                                          <div class="form-group form-group col-md-4">
                                             <label >Ciudad</label>
                                                <select id="cmbCiudad" class="form-control">
                                                <option>---------</option>
                                                <option>Barquisimeto</option>
                                                <option>Caracas</option>
                                                <option>Valencia</option>
                                                <option>Maracaibo</option>
                                                <option>Maracay</option>
                                                <option>Valencia</option>
                                              </select>
                                          </div>
                                        </div>
                                      <div class="row">
                                         <div class="form-group form-group col-md-4">
                                             <label >Organizacion</label>
                                                <select id="cmbOrganizacion" class="form-control">
                                                <option>---------</option>
                                              </select>
                                          </div>
                                        <div class="form-group form-group col-md-6">
                                          <label>Username</label>
                                          <input type="text" class="form-control" id="txtUserName"
                                                 placeholder="username">
                                        </div>
                                      </div>

                        </div>
                          <div class="modal-footer">
                            <button type="submit" id="Guardar" class="btn btn-lg btn-info">Guardar</button>
                            <button type="button" class="btn btn-lg btn-info" data-dismiss="modal">Cerrar</button>
                        </div>    
                    </div>
                </div>
        </div>


       </div>
      </div> 

   

        </div>
        <div class="panel panel-primary">
         <div class="panel-body">
           <p>
          <!-- === BOTONES === -->  
            <div class="form-group col-md-6" style="margin-top:10px" align="center">
                 <!-- === BOTONES DE ACCION === -->  
                 <button type="button" class="btn btn-lg btn-info" data-toggle="modal" data-target="#myModalOperatorNew">Agregar Operador</button>
                 <button type="button" class="btn btn-lg btn-info">Salir</button>
               </div>
             <!-- === FIN BOTONES === -->  
          </p>
        </div>
      </div>
    </div>
    <!-- === FIN CONTENIDO DE LA VENTANA === -->
  </form>
  <!-- === PANEL DE TABLA === --> 
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Lista de Operadores</h3>
    </div>
    <div class="panel-body">
      Puede visualizar los Operadores actualmente almacenados en el sistema

      <div id="TablaOperadores"></div>
      
     
    <!-- ====== FIN DATATABLE======= -->
  </div>
</div>


   

<style type="text/css">
    .sui-button-cell
    {
        text-align: center;
    }

    .sui-checkbox
    {
        font-size: 17px !important;
        padding-bottom: 4px !important;
    }

    .deleteButton img
    {
        margin-right: 3px;
        vertical-align: bottom;
    }

    .bigicon
    {
        color: #5CB85C;
        font-size: 20px;
    }
</style>

<!-- Bootstrap Editable Grid - END -->

</div>
    <!-- ====== FIN DATATABLE======= -->
  </div>
</div>


<%= javascript_include_tag "bootstrap.js" %>
<%= javascript_include_tag "bootbox.js" %>
<%= javascript_include_tag "jquery.js" %>
<%= javascript_include_tag "http://www.prepbootstrap.com/Content/shieldui-lite/dist/js/shieldui-lite-all.min.js" %>
<%= stylesheet_link_tag "http://www.prepbootstrap.com/Content/shieldui-lite/dist/css/light/all.min.css" %>

<%= javascript_include_tag "jquery.validate.js" %>
<%= javascript_include_tag "additional-methods.js" %>
<%= javascript_include_tag "messages_es.js" %>

<%= javascript_include_tag "jquery.dataTables.js" %>
<%= javascript_include_tag "bootstrap-treeview.js" %>

 
<%= javascript_include_tag "fnReloadAjax.js" %>

<%= javascript_include_tag "listadoOperator.js" %>
  <style>
.error {
    color:red;
}
.valid {
    color:green;
}
</style>

<!-- Libreria Jquery de Bootstrap -->

 
  <!-- Cargar menu de usuario desde JSON -->
  <script src="../js/bootstrap-treeview.js"></script>
  <!-- TOGGLE para que el menu superior sea responsivo -->
     <script>
  $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
  });
  </script>

